!!!
%html
  %link{rel: "stylesheet", type: "text/css", href: "/css/style.css"}
  %body
    %img{:src => "/ninja.png"}/
    %h1
      %center MON CV DE BG
    %table{:style => "width:100%"}
      %th Formation
      %tr
        %td 2014-2015
        %td 1ère Année à l'ENSIIE
      %tr
        %td 2012-2014
        %td DUT Informatique à l'IUT Robert Schuman
      %tr
        %td 2009-2012
        %td Baccalauréat S mention TB
      %br/
      %th Projets
      %tr
        %td 2013-2014
        %td Projet tuteuré (groupe de 3 personnes)
